/* root */
.editor-styles-wrapper {
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Content sectioning */
.editor-styles-wrapper address {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper article {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper aside {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper footer {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper header {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper h1 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper h2 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper h3 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper h4 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper h5 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper h6 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper hgroup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper main {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper nav {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper section {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Text content */
.editor-styles-wrapper blockquote {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper dd {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper dir {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper div:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper dl {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper dt {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper figcaption {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper figure {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper hr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper li {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper main {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper ol {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper p {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper pre {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper ul {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Inline text semantics */
.editor-styles-wrapper a:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper abbr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper b {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper bdi {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper bdo {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper br {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper cite {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper code {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper data {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper del {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper dfn {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper em {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper i {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper ins {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper kbd {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper mark {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper q {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper rb {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper rp {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper rt {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper rtc {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper ruby {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper s {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper samp {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper small {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper span {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper strong {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper sub {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper sup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper time {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper tt {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper u {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper var {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper wbr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Image and multimedia */
.editor-styles-wrapper area {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper audio {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper img {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper map {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper track {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper video {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Embedded content */
.editor-styles-wrapper embed {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper iframe {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper object {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper picture {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Table content */
.editor-styles-wrapper caption {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper col {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper colgroup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper table {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper tbody {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper td {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper tfoot {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper th {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper thead {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper tr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Forms */
.editor-styles-wrapper button:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper datalist {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper fieldset {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper form:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper input:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper label:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper legend {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper meter {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper optgroup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper option {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper output {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper progress {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper select:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper textarea:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Interactive elements */
.editor-styles-wrapper details {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper dialog {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper menu {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper menuitem {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
.editor-styles-wrapper summary {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Content sectioning */
.editor-styles-wrapper address,
.editor-styles-wrapper article,
.editor-styles-wrapper aside,
.editor-styles-wrapper footer,
.editor-styles-wrapper header,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper hgroup,
.editor-styles-wrapper main,
.editor-styles-wrapper nav,
.editor-styles-wrapper section {
	--gc-outline-color: var(--solar-blue);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Text content */
.editor-styles-wrapper blockquote,
.editor-styles-wrapper dd,
.editor-styles-wrapper dir,
.editor-styles-wrapper div:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper dl,
.editor-styles-wrapper dt,
.editor-styles-wrapper figcaption,
.editor-styles-wrapper figure,
.editor-styles-wrapper hr,
.editor-styles-wrapper li,
.editor-styles-wrapper main,
.editor-styles-wrapper ol,
.editor-styles-wrapper p,
.editor-styles-wrapper pre,
.editor-styles-wrapper ul {
	--gc-outline-color: var(--solar-yellow);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Inline text semantics */
.editor-styles-wrapper a:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper abbr,
.editor-styles-wrapper b,
.editor-styles-wrapper bdi,
.editor-styles-wrapper bdo,
.editor-styles-wrapper br,
.editor-styles-wrapper cite,
.editor-styles-wrapper code,
.editor-styles-wrapper data,
.editor-styles-wrapper del,
.editor-styles-wrapper dfn,
.editor-styles-wrapper em,
.editor-styles-wrapper i,
.editor-styles-wrapper ins,
.editor-styles-wrapper kbd,
.editor-styles-wrapper mark,
.editor-styles-wrapper q,
.editor-styles-wrapper rb,
.editor-styles-wrapper rp,
.editor-styles-wrapper rt,
.editor-styles-wrapper rtc,
.editor-styles-wrapper ruby,
.editor-styles-wrapper s,
.editor-styles-wrapper samp,
.editor-styles-wrapper small,
.editor-styles-wrapper span,
.editor-styles-wrapper strong,
.editor-styles-wrapper sub,
.editor-styles-wrapper sup,
.editor-styles-wrapper time,
.editor-styles-wrapper tt,
.editor-styles-wrapper u,
.editor-styles-wrapper var,
.editor-styles-wrapper wbr {
	--gc-outline-color: var(--solar-orange);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Image and multimedia */
.editor-styles-wrapper area,
.editor-styles-wrapper audio,
.editor-styles-wrapper img,
.editor-styles-wrapper map,
.editor-styles-wrapper track,
.editor-styles-wrapper video {
	--gc-outline-color: var(--solar-red);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Embedded content */
.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object,
.editor-styles-wrapper picture {
	--gc-outline-color: var(--solar-magenta);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Table content */
.editor-styles-wrapper caption,
.editor-styles-wrapper col,
.editor-styles-wrapper colgroup,
.editor-styles-wrapper table,
.editor-styles-wrapper tbody,
.editor-styles-wrapper td,
.editor-styles-wrapper tfoot,
.editor-styles-wrapper th,
.editor-styles-wrapper thead,
.editor-styles-wrapper tr {
	--gc-outline-color: var(--solar-violet);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Forms */
.editor-styles-wrapper button:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper datalist,
.editor-styles-wrapper fieldset,
.editor-styles-wrapper form:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper input:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper label:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper legend,
.editor-styles-wrapper meter,
.editor-styles-wrapper optgroup,
.editor-styles-wrapper option,
.editor-styles-wrapper output,
.editor-styles-wrapper progress,
.editor-styles-wrapper select:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]),
.editor-styles-wrapper textarea:not([class^="components-"]):not([class^="editor-"]):not([class^="block-"]):not([aria-owns]):not([id^="mceu_"]) {
	--gc-outline-color: var(--solar-cyan);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Interactive elements */
.editor-styles-wrapper details,
.editor-styles-wrapper dialog,
.editor-styles-wrapper menu,
.editor-styles-wrapper menuitem,
.editor-styles-wrapper summary {
	--gc-outline-color: var(--solar-green);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
.editor-styles-wrapper div:not([class]),
.editor-styles-wrapper span:not([class]) {
	--gc-outline-color: var(--content-gray2);
}
.editor-styles-wrapper #wpadminbar {
	--gc-outline-width: 0;
	--gc-box-shadow: none;
	--gc-background-lg: none;
}
:root {
	--gc-outline-width: 1px;
	--gc-outline-style: solid;
	--gc-outline-color: var(--content-gray2);
	--gc-shadow-depth: 1rem;
	--gc-shadow-color: rgba(0, 43, 54, 0.6);
	--gc-box-shadow: 0 0 var(--gc-shadow-depth) var(--gc-shadow-color);
	--gc-background: var(--background-light);
	--gc-background-a: rgba(238, 232, 213, 0.1);
	--gc-background-lg: linear-gradient(var(--gc-background-a), rgba(253, 246, 227, 0.1));

	/* Solorized colors. MIT https://ethanschoonover.com/solarized/ */
	--solar-base03:    #002b36;
	--solar-base02:    #073642;
	--solar-base01:    #586e75;
	--solar-base00:    #657b83;
	--solar-base0:     #839496;
	--solar-base1:     #93a1a1;
	--solar-base2:     #eee8d5;
	--solar-base3:     #fdf6e3;
	--solar-yellow:    #b58900;
	--solar-orange:    #cb4b16;
	--solar-red:       #dc322f;
	--solar-magenta:   #d33682;
	--solar-violet:    #6c71c4;
	--solar-blue:      #268bd2;
	--solar-cyan:      #2aa198;
	--solar-green:     #859900;

	--background-dark: var(--solar-base02);
	--background-darker: var(--solar-base03);
	--background-light: var(--solar-base2);
	--background-lighter: var(--solar-base3);
	--content-gray1: var(--solar-base1);
	--content-gray2: var(--solar-base0);
	--content-gray3: var(--solar-base00);
	--content-gray4: var(--solar-base01);
}
