/* root */
body {
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Content sectioning */
:not(#\9) address {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) article {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) aside {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) footer {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) header {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) h1 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) h2 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) h3 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) h4 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) h5 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) h6 {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) hgroup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) main {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) nav {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) section {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Text content */
:not(#\9) blockquote {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) dd {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) dir {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) div {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) dl {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) dt {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) figcaption {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) figure {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) hr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) li {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) main {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) ol {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) p {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) pre {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) ul {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Inline text semantics */
:not(#\9) a {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) abbr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) b {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) bdi {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) bdo {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) br {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) cite {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) code {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) data {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) del {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) dfn {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) em {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) i {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) ins {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) kbd {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) mark {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) q {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) rb {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) rp {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) rt {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) rtc {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) ruby {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) s {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) samp {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) small {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) span {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) strong {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) sub {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) sup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) time {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) tt {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) u {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) var {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) wbr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Image and multimedia */
:not(#\9) area {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) audio {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) img {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) map {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) track {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) video {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Embedded content */
:not(#\9) embed {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) iframe {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) object {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) picture {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Table content */
:not(#\9) caption {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) col {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) colgroup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) table {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) tbody {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) td {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) tfoot {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) th {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) thead {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) tr {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Forms */
:not(#\9) button {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) datalist {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) fieldset {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) form {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) input {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) label {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) legend {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) meter {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) optgroup {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) option {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) output {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) progress {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) select {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) textarea {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Interactive elements */
:not(#\9) details {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) dialog {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) menu {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) menuitem {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
:not(#\9) summary {
	box-shadow: 0 0 1rem rgba(0, 43, 54, 0.6);
	box-shadow: var(--gc-box-shadow);
	outline-width: 1px;
	outline-width: var(--gc-outline-width);
	outline-style: solid;
	outline-style: var(--gc-outline-style);
	outline-color: #839496;
	outline-color: var(--gc-outline-color);
}
/* Content sectioning */
:not(#\9) address,
:not(#\9) article,
:not(#\9) aside,
:not(#\9) footer,
:not(#\9) header,
:not(#\9) h1,
:not(#\9) h2,
:not(#\9) h3,
:not(#\9) h4,
:not(#\9) h5,
:not(#\9) h6,
:not(#\9) hgroup,
:not(#\9) main,
:not(#\9) nav,
:not(#\9) section {
	--gc-outline-color: var(--solar-blue);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Text content */
:not(#\9) blockquote,
:not(#\9) dd,
:not(#\9) dir,
:not(#\9) div,
:not(#\9) dl,
:not(#\9) dt,
:not(#\9) figcaption,
:not(#\9) figure,
:not(#\9) hr,
:not(#\9) li,
:not(#\9) main,
:not(#\9) ol,
:not(#\9) p,
:not(#\9) pre,
:not(#\9) ul {
	--gc-outline-color: var(--solar-yellow);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Inline text semantics */
:not(#\9) a,
:not(#\9) abbr,
:not(#\9) b,
:not(#\9) bdi,
:not(#\9) bdo,
:not(#\9) br,
:not(#\9) cite,
:not(#\9) code,
:not(#\9) data,
:not(#\9) del,
:not(#\9) dfn,
:not(#\9) em,
:not(#\9) i,
:not(#\9) ins,
:not(#\9) kbd,
:not(#\9) mark,
:not(#\9) q,
:not(#\9) rb,
:not(#\9) rp,
:not(#\9) rt,
:not(#\9) rtc,
:not(#\9) ruby,
:not(#\9) s,
:not(#\9) samp,
:not(#\9) small,
:not(#\9) span,
:not(#\9) strong,
:not(#\9) sub,
:not(#\9) sup,
:not(#\9) time,
:not(#\9) tt,
:not(#\9) u,
:not(#\9) var,
:not(#\9) wbr {
	--gc-outline-color: var(--solar-orange);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Image and multimedia */
:not(#\9) area,
:not(#\9) audio,
:not(#\9) img,
:not(#\9) map,
:not(#\9) track,
:not(#\9) video {
	--gc-outline-color: var(--solar-red);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Embedded content */
:not(#\9) embed,
:not(#\9) iframe,
:not(#\9) object,
:not(#\9) picture {
	--gc-outline-color: var(--solar-magenta);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Table content */
:not(#\9) caption,
:not(#\9) col,
:not(#\9) colgroup,
:not(#\9) table,
:not(#\9) tbody,
:not(#\9) td,
:not(#\9) tfoot,
:not(#\9) th,
:not(#\9) thead,
:not(#\9) tr {
	--gc-outline-color: var(--solar-violet);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Forms */
:not(#\9) button,
:not(#\9) datalist,
:not(#\9) fieldset,
:not(#\9) form,
:not(#\9) input,
:not(#\9) label,
:not(#\9) legend,
:not(#\9) meter,
:not(#\9) optgroup,
:not(#\9) option,
:not(#\9) output,
:not(#\9) progress,
:not(#\9) select,
:not(#\9) textarea {
	--gc-outline-color: var(--solar-cyan);
	--gc-background: var(--background-light);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
/* Interactive elements */
:not(#\9) details,
:not(#\9) dialog,
:not(#\9) menu,
:not(#\9) menuitem,
:not(#\9) summary {
	--gc-outline-color: var(--solar-green);
	--gc-background: var(--background-lighter);
	background-image: linear-gradient(rgba(238, 232, 213, 0.1), rgba(253, 246, 227, 0.1));
	background-image: var(--gc-background-lg);
}
:not(#\9) div:not([class]),
:not(#\9) span:not([class]) {
	--gc-outline-color: var(--content-gray2);
}
:not(#\9) #wpadminbar {
	--gc-outline-width: 0;
	--gc-box-shadow: none;
	--gc-background-lg: none;
}
:root {
	--gc-outline-width: 1px;
	--gc-outline-style: solid;
	--gc-outline-color: var(--content-gray2);
	--gc-shadow-depth: 1rem;
	--gc-shadow-color: rgba(0, 43, 54, 0.6);
	--gc-box-shadow: 0 0 var(--gc-shadow-depth) var(--gc-shadow-color);
	--gc-background: var(--background-light);
	--gc-background-a: rgba(238, 232, 213, 0.1);
	--gc-background-lg: linear-gradient(var(--gc-background-a), rgba(253, 246, 227, 0.1));

	/* Solorized colors. MIT https://ethanschoonover.com/solarized/ */
	--solar-base03:    #002b36;
	--solar-base02:    #073642;
	--solar-base01:    #586e75;
	--solar-base00:    #657b83;
	--solar-base0:     #839496;
	--solar-base1:     #93a1a1;
	--solar-base2:     #eee8d5;
	--solar-base3:     #fdf6e3;
	--solar-yellow:    #b58900;
	--solar-orange:    #cb4b16;
	--solar-red:       #dc322f;
	--solar-magenta:   #d33682;
	--solar-violet:    #6c71c4;
	--solar-blue:      #268bd2;
	--solar-cyan:      #2aa198;
	--solar-green:     #859900;

	--background-dark: var(--solar-base02);
	--background-darker: var(--solar-base03);
	--background-light: var(--solar-base2);
	--background-lighter: var(--solar-base3);
	--content-gray1: var(--solar-base1);
	--content-gray2: var(--solar-base0);
	--content-gray3: var(--solar-base00);
	--content-gray4: var(--solar-base01);
}
