/* Content sectioning */
address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
main,
nav,
section {
	--gc-outline-color: var(--gc-content-color);
	--gc-background: var(--background-light);
}

/* Content sectioning */
address {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
article {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
aside {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
footer {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
header {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
h1 {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
h2 {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
h3 {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
h4 {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
h5 {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
h6 {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
hgroup {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
main {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
nav {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
section {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
