/* Forms */
button,
datalist,
fieldset,
form,
input,
label,
legend,
meter,
optgroup,
option,
output,
progress,
select,
textarea {
	--gc-outline-color: var(--solar-cyan);
	--gc-background: var(--background-light);
}

/* Forms */
button {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
datalist {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
fieldset {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
form {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
input {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
label {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
legend {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
meter {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
optgroup {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
option {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
output {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
progress {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
select {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
textarea {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
