/* Interactive elements */
details,
dialog,
menu,
menuitem,
summary {
	--gc-outline-color: var(--gc-interactive-color);
	--gc-background: var(--background-lighter);
}

/* Interactive elements */
details {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
dialog {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
menu {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
menuitem {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
summary {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
