:root {
	--gc-outline-width: 1px;
	--gc-outline-style: solid;
	--gc-outline-color: var(--content-gray2);
	--gc-shadow-depth: 1rem;
	--gc-shadow-color: color-mod(var(--background-darker) a(60%));
	--gc-box-shadow: 0 0 var(--gc-shadow-depth) var(--gc-shadow-color);
	--gc-background: var(--background-light);
	--gc-background-a: color-mod(var(--gc-background) a(10%));

	/* Solorized colors. MIT https://ethanschoonover.com/solarized/ */
	--solar-base03:    #002b36;
	--solar-base02:    #073642;
	--solar-base01:    #586e75;
	--solar-base00:    #657b83;
	--solar-base0:     #839496;
	--solar-base1:     #93a1a1;
	--solar-base2:     #eee8d5;
	--solar-base3:     #fdf6e3;
	--solar-yellow:    #b58900;
	--solar-orange:    #cb4b16;
	--solar-red:       #dc322f;
	--solar-magenta:   #d33682;
	--solar-violet:    #6c71c4;
	--solar-blue:      #268bd2;
	--solar-cyan:      #2aa198;
	--solar-green:     #859900;

	/* Color by section */
	--outline-alpha: 80%;
	--gc-content-color: color-mod(var(--solar-blue) a(var(--outline-alpha)));
	--gc-forms-color: color-mod(var(--solar-cyan) a(var(--outline-alpha)));
	--gc-media-color: color-mod(var(--solar-red) a(var(--outline-alpha)));
	--gc-inline-color: color-mod(var(--solar-orange) a(var(--outline-alpha)));
	--gc-interactive-color: color-mod(var(--solar-green) a(var(--outline-alpha)));
	--gc-table-color: color-mod(var(--solar-violet) a(var(--outline-alpha)));
	--gc-text-color: color-mod(var(--solar-yellow) a(var(--outline-alpha)));

	--background-dark: var(--solar-base02);
	--background-darker: var(--solar-base03);
	--background-light: var(--solar-base2);
	--background-lighter: var(--solar-base3);
	--gray-light: color-mod(var(--solar-base1) a(var(--outline-alpha)));
	--gray-dark: var(--solar-base01);
}

.clear {
    opacity: 0;
}

#wpbody {
    min-height: 100%;
}

#wpadminbar#wpadminbar {
	--gc-outline-width: 0;
	--gc-box-shadow: none;
	--gc-background-lg: none;
}
