/* Embedded content */
embed,
iframe,
object,
picture {
	--gc-outline-color: var(--solar-magenta);
	--gc-background: var(--background-light);
}

/* Embedded content */
embed {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
iframe {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
object {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
picture {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
