/* Inline text semantics */
a,
abbr,
b,
bdi,
bdo,
br,
cite,
code,
data,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
rb,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
tt,
u,
var,
wbr {
	--gc-outline-color: var(--solar-orange);
	--gc-background: var(--background-light);
}

/* Inline text semantics */
a {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
abbr {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
b {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
bdi {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
bdo {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
br {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
cite {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
code {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
data {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
del {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
dfn {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
em {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
i {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
ins {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
kbd {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
mark {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
q {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
rb {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
rp {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
rt {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
rtc {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
ruby {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
s {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
samp {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
small {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
span {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
strong {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
sub {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
sup {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
time {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
tt {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
u {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
var {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
wbr {
	box-shadow: var(--gc-box-shadow);
	outline-width: var(--gc-outline-width);
	outline-style: var(--gc-outline-style);
	outline-color: var(--gc-outline-color);
}
